/*Centra el cuerpo y da la fuente de texto*/
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkslategray;
    
}

/*Se reduce el ancho de la linea horizontal a 500 pixeles*/
hr {
    width: 500px;
}

/*el # nos da acceso al id tabla directamente*/
#tabla{
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 2px solid #bbada0;
    border-radius: 2vmin;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
/*El . nos da acceso a la clase, en este caso la clase de cada uno de los cuadros dentro de la tabla*/
.ventana {
    width: 90px;
    height: 90px;
    border: 8px transparent;
    margin: 5px;
    border-radius: 2vmin;
    background-color: #aca8a5;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    transition: 300ms;
}

.resumenContenedor{
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    visibility: hidden;
    pointer-events: auto;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.5s ease;
  }

.modal {
    background-color: #b1b3af;
    width: 300px;
    max-width: 100%;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

.show {
    pointer-events: auto;
    visibility: visible;
    opacity: 5;
  }

/*Aca van cada uno de los valores posibles en los cuadros dentro de la tabla*/

.n2 {
    background-color: #eee4da;
    color: #727371;
    
}
.n4 {
    background-color: #f5cba5;
    color: #727371;
}
.n8 {
    background-color: #f4b17a;
    color: white;
}
.n16{
    background-color: #f59575;
    color: white;
}
.n32{
    background-color: #f57c5f;
    color: white;
}
.n64{
    background-color: #f65d3b;
    color: white;
}
.n128{
    background-color: #edce71;
    color: white;
}
.n256{
    background-color: #edcc63;
    color: white;
}
.n512{
    background-color: #edc651;
    color: white;
}
.n1024{
    background-color: #eec744;
    color: white;
}
.n2048{
    background-color: #ecc230;
    color: white;
}